
 .start-section {
   position: relative;
   height: 100vh;
   overflow: hidden;
 }
 
 /* Hintergrund */
 .background-video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
 
 
.background-image {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.background-image img {
 max-width: 100%;
 max-height: 100%;
}


.border-box {
 display: flex;
 border: 10px solid #0F1C34;
 border-radius: 10px;
 background: #0F1C34;
 padding: 20px;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 max-width: 80%;
 max-height: 80%;
}

/* Logo */
 .logo-container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .logo-container img {
   width: 270px; 
   margin-top: 10px;
   animation-name: floatAnimation;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-in-out;
}

@keyframes floatAnimation {
 0% {
   transform: translateY(0);
 }
 50% {
   transform: translateY(-7px);
 }
 100% {
   transform: translateY(0);
 }
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
 background-size: cover;
 flex-wrap: nowrap;
 flex-direction: column 
}
 

/* Text */
.text {
 font-family: "Roboto", Arial, sans-serif;
 text-align: center;
 color: white;
 padding: 20px;
 margin: 20px;
}
 
.text h1 {
 font-family: 'Press Start 2P';
 font-size: 36px;
 word-spacing: -20px;
 margin-bottom: 2px;
 line-height: 50px;
 text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.4)
}
 
 .text p {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
 }

 
/* motivation */
.motivation {
padding: 20px 0;
background-color: white;
}

.motivation-container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.motivation h2 {
font-family: "Roboto", Arial, sans-serif;
font-size: 35px;
color: #0f1c34;
text-align: center;
}

.motivation p {
font-family: "Roboto", Arial, sans-serif;
font-size: 16px;
color: #0f1c34;
text-align: center;
margin: 15px auto 30px auto;
width: 50%;
}


/* Hilfsklasse */
.hidden {
  display: none;
}


/* Spiel-Container mit Beschreibung und Game-Over Text */
.content-game {
  min-height: 600px;
}

#game-container {
  max-width: 600px;
  margin: auto;
}

#game {
  position: relative;
  height: 300px;
  cursor: pointer;
}

.game-info {
  font-family: "Roboto", Arial, sans-serif;
  color: #0f1c34;
  margin-top: 12px;
  margin-bottom: 12px;
}

#game-end {
  font-family: "Roboto", Arial, sans-serif;
  color: #0f1c34;
  margin-top: 12px;
  margin-bottom: 12px;
}


/* Elemente im Spiel */
#game-background {
  position: absolute;
  width: 600px;
  height: 300px;
  background-image: url("../images/game/background.jpg");
  background-size: cover;
}

.bg-animation {
  animation: moveBg 10.33s linear infinite;
}

@keyframes moveBg {
  0% {
      background-position: 0 0;
  }

  100% {
      background-position: -600px 0;
  }
}

#game-dino {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("../images/game/dino2.png");
  background-size: cover;
}

.dino-dies {
  background-color: red;
}

#game-rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("../images/game/rock.png");
  background-size: cover;
}

.rock-animation {
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0% {
      left: 550px;
  }

  100% {
      left: -50px;
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
      top: 225px;
  }

  50% {
      top: 75px;
  }

  75% {
      top: 75px;
  }

  100% {
      top: 225px;
  }
}

#game-start {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.7;
  background: #0f1c34
}

.startScreenText {
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

#game-score {
  font-family: "Roboto", Arial, sans-serif;
  color: #0f1c34;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
}

/* Formular */
#formContainer {
  max-width: 625px;
  margin: 0 auto;
  padding: 30px; 
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 20px;
}

#formContainer h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 35px;
  color: #0f1c34;
  text-align: center;
  margin-bottom: 41px;
}


.form-row {
  display: flex;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"] {
  flex: 1;
}

.form-row input[type="text"]:first-child,
.form-row input[type="email"]:first-child,
.form-row input[type="tel"]:first-child  {
  margin-right: 10px;
}

#formContainer form {
  display: flex;
  flex-direction: column;
}

#formContainer input[type="text"],
#formContainer input[type="email"],
#formContainer input[type="tel"],
#formContainer textarea  {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 15px;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}


#formContainer input[type="text"]:focus,
#formContainer input[type="email"]:focus,
#formContainer input[type="tel"]:focus,
#formContainer textarea:focus{
  outline: none;
  border: 1px solid ;
  border-color: #3fa4d5;
}


#formContainer textarea {
  height: 100px;
}

#formContainer input[type="submit"] {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: #0f1c34ab;
  cursor: pointer;
 border: 5px solid transparent;
  padding: 12px 24px;
}

#formContainer input[type="submit"].valid {
  background-color: #0f1c34;
}


@media (max-width:600px) { 
  .form-row { 
  flex-direction :column; 
  } 
  
  .form-row input[type="text"]:first-child { 
  margin-right :0; 
  margin-bottom :10px; 
  } 
  }

  #email-error-message {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: red;
    margin-bottom: 12px;
  }
  
  .error-messages {
    display: flex;
    justify-content: space-between;
  }
  
  #email-error-message,
  #phone-error-message {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: red;
    margin-bottom: 12px;
  }